
.hr1 {
  width: 50%;
  margin-left: auto;
  height: 2px;
  background-color: #A3D6BD;
  margin-bottom: 0.5rem;
}

.hr2 {
  margin-left: auto !important;
  width: 55%;
  height: 2px;
  background-color: #BBBC4E;
}

.image-container {
  width: 100%;
  height: 200px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}
.modal-image {
  max-width: 100%;
  max-height: 300px; /* Ajusta esta altura para hacer la imagen más grande */
  object-fit: cover; /* Esto asegura que la imagen se ajuste bien dentro del contenedor */
}

